<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    />
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <p><a class="btn btn-primary btn-lg" href="/scrape"
                role="button">Scrape New Data</a></p>
        </div>
        <!-- Hemisphere and Pics -->
        <div class="row" id="mars-featured-image">
            <div class="col-md-12">
            <h2>Hemisphere Picture</h2>
            <img 
                src="{{ hemisphere_mars.img_url }}" 
                class="img-responsive" 
                alt="{{hemisphere_mars.title}}"
                />
            </div>
        </div>
    </div>
</body>
</html>